@import "./modals.scss";
@import "../themes.scss";
@import "../util.scss";

.settingspage {
    @include modal;
    height: 50%;
    width: 50%;
    max-width: min(600px, 100vw);
    min-width: min(450px, 100vw);
    max-height: 400px;
    min-height: 200px;

    @include themed() {
        background-color: t($bg-3);

        >header {
            height: 60px;
            background-color: t($bg-2);
            user-select: none;
            width: 100%;
            height: 60px;
            display: flex;
            align-items: center;
            padding: 10px;
            font-size: 40px;
        }

        >.body {
            width: 100%;
            height: 100%;
            overflow: hidden;
            display: flex;

            >aside {
                background-color: t($bg-1);
                min-width: 150px;
                width: 150px;
                padding: 5px;
                border-top-right-radius: 8px;
                height: 100%;
            }
        }
    }
}

.section {
    @include themed() {
        background: t($bg-1);
    }

    width: 100%;
    margin-top: 10px;
    padding: 4px;
    border-radius: 8px;

    h1 {
        margin: 0px 0px 4px 0px
    }

    .description {
        font-size: 12;

        @include themed() {
            color: t($text-2)
        }
    }
}

.signout_btn {
    @include themed() {
        color: t($text-i)
    }

    border-radius: 4px;
    width: 100%;
    padding: 4px;
    cursor: pointer;
}

.edit_btn {
    @include themed() {
        color: t($text-i)
    }

    border-radius: 2px;
    float: right;
    margin: 0px;
    cursor: pointer;
}

.options_page {
    @include scroll;

    &[data-selected=true] {
        pointer-events: unset;
        opacity: 1;
    }

    &[data-selected=false] {
        pointer-events: none;
        opacity: 0;
    }

    transition: opacity .3s;
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 8px;
    overflow: auto;

    >div {
        @include themed() {
            background-color: t($bg-2);
        }

        width: 100%;
        border-radius: 8px;
        padding: 0px 8px 8px 8px;
        display: flex;
        flex-direction: column;
    }
}

.sidebar_tab {
    &[data-selected=false] {
        @include button-shadow;
    }
    user-select: none;
    width: 100%;
    height: 30px;
    font-size: 20px;
    border-radius: 4px;
    text-align: left;
    margin-bottom: 3px;
    transition: color .5s,
    box-shadow .5s;

    @include themed() {
        color: t($text);
        background-color: t($bg-2);
    }
}

$option-size: 30px;

@mixin option($use-transition: true) {
    width: $option-size;
    height: $option-size;

    &[data-selected=true] {
        padding: 5px;

        .inner {
            opacity: 1;
        }
    }

    &[data-selected=false] {
        padding: calc($option-size / 2);

        .inner {
            opacity: 0;
        }

        &:hover {
            padding: calc($option-size / 2 - 5px);

            .inner {
                opacity: 0.3;
            }
        }
    }

    @if $use-transition {
        transition: padding .2s;
    }

    flex-shrink: 0;
}

.accent_option {
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    margin: 2px;
    cursor: pointer;
    border-radius: 4px;
    padding: 0px;

    &[data-selected=true] {
        border: 0px;
    }

    @include themed() {
        &[data-selected=false] {
            border: solid 3px t($bg-1);
        }
    }
}

.radio_select {
    @include option;

    @include themed() {
        background-color: t($bg-2);
    }

    border-radius: 50%;
}

.checkbox {
    @include option;

    @include themed() {
        background-color: t($bg-2);
    }

    border-radius: 10%;

    &[data-selected=true] {

        .inner {
            transform: rotate(90deg);
        }

        &:hover {
            padding: 6px;

            .inner {
                opacity: 0.7;
            }
        }
    }


    .inner {
        transition: opacity .2s, transform 0.5s;
    }
}

.inner {
    border-radius: inherit;
    width: 100%;
    height: 100%;
    transition: opacity .2s
}