@import "./modals.scss";
@import "../themes.scss";
@import "../util.scss";

.settingspage {
	@include modal;
	height: 50%;
	width: 50%;
	max-width: min(600px, 100vw);
	min-width: min(450px, 100vw);
	max-height: 400px;
	min-height: 200px;
}

.sidebar_tab {
	&[data-selected=false] {
		@include button-shadow;
	}
	width: 100%;
	height: 30px;
	font-size: 20px;
	border-radius: 4px;
	text-align: left;
	margin-bottom: 3px;
	transition: color .5s, box-shadow .5s;
	@include themed(){
		color: t($text);
		background-color: t($bg-2);
	}
}

$option-size: 30px;

@mixin option {
	width: $option-size;
	height: $option-size;
	&[data-selected=true] {
		padding: 5px;
		.inner {
			opacity: 1;
		}
	}
	&[data-selected=false] {
		padding: calc( $option-size / 2 );
		.inner {
			opacity: 0;
		}
	}
	transition: padding .2s;
	flex-shrink: 0;

}

.radio_select {
	@include option;
	@include themed(){
		background-color: t($bg-2);
	}
	border-radius: 50%;
}

.checkbox {
	@include option;
	@include themed(){
		background-color: t($bg-2);
	}
}

.inner {
	width: 100%;
	height: 100%;
	transition: opacity .2s
}