@import "../themes.scss";
@import "./modals.scss";

.signinmenu {
	@include modal;
	@include themed() {
		color: t($text);
		background-color: t($bg-1),
	}

	transition: height .5s;

	width: 300px;
	height: 320px;
}

.register {
	width: 350px;
	height: 430px;		
}

.closebtn {
	@include themed(){
		color: t($text)
	}
	font-size: 20px;
	width: 20px;
	height: 20px;
	border: none;
	background-color: transparent;
	position: absolute;
	top: 10px;
	right: 0px;
	transform: translateX(-50%);
	padding: 0px;
}

.signinmenu input {
	@include themed(){
		background-color: t($bg-2);
		color: t($text)
	}
	border-radius: 4px;
	border: none;
	padding: 5px;
	font-size: 20px;
	margin: 5px 0px;
}

.signinmenu p {
	@include themed(){
		color: t($text-2);
	}
}

.primarybtn, .secondarybtn {
	padding: 4px;
	font-size: 15px;
	@include themed(){
		color: t($text);
	}
}

// .primarybtn {
	
// }

.secondarybtn {
	flex-shrink: 2;
	@include themed(){
		background-color: t($bg-2);
	}
}

$container-padding: 10px;

.container {
	height: 100%;
	width: 100%;
    position: absolute;
    padding: $container-padding;
    transition: left .5s;
    display: flex;
    flex-direction: column;
	> footer {
		position: absolute;
		bottom: $container-padding;
		width: calc(100% - $container-padding * 2);
		display: flex;
		justify-content: center;
		margin-top: 4px;
	}
}