.background-primary {
    background-color: #151617
}
.background-secondary {
    background-color: #2A2A37
}
.background-tertiary {
    background-color: #24242E
}
.background-quaternary {
    background-color: #1F1F28
}
.text-primary {
    color: #FFFFFF
}
.text-secondary {
    color: #CCC
}
.text-inverted {
    color: #000
}