/*
	Worst css responsive stylesheet you have ever seen in your life
*/

@media screen and (max-width: 750px) {
	.sidebar {
		width: 0px;
		padding: 0px;
		/* flex-shrink: 0; */
	}
	.sidebar_inner:not(.open) {
		left: -50px;
	}
	.sidebar_inner.open {
		left: 5px;
	}
	.sidebar_minimal {
		display: none
	}
	.sidebar_tab_group {
		box-shadow: 0 8px 16px rgb(0 0 0 / 44%);
	}
}

.sidebar {
	/* z-index: 1; */
}

@media screen and (min-width: 750px) {
	.sidebar, .sidebar_inner {
		width: 220px;
		flex-shrink: 0;
	}
}