.background-primary {
    background-color: #FFF
}
.background-secondary {
    background-color: #D9D9D9
}
.background-tertiary {
    background-color: #E3E3E3
}
.background-quaternary {
    background-color: #EBEBEB
}
.text-primary {
    color: #000
}
.text-secondary {
    color: #333
}
.text-inverted {
    color: #FFF
}
