/*
nooo u have to use next.js's style folder!!
shut the fuck up i dont have time to resolve some shitty "global css cannot be imported from files other than your custom App bullshit"
*/

.scroll::-webkit-scrollbar {
    background-color: rgba(0, 0, 0, 0);
    width: 5px
}


* {
  box-sizing: border-box;
}

button {
  border: none;
}

/*
    Might make this *computed* in the future because this looks awkward in light mode
*/
.scroll::-webkit-scrollbar-thumb {
    background-color: #444459;
}

.ReactModal__Overlay {
    opacity: 0;
    transition: opacity .5s;
    z-index: 2;
  }
  
  .ReactModal__Overlay--after-open {
    opacity: 1;
  }
  
  .ReactModal__Overlay--before-close {
    opacity: 0;
  }

button {
  cursor: pointer;
  border: none;
}

body {
  margin: 0px;
}

textarea:focus, input:focus{
  outline: none;
}