* {
  box-sizing: border-box;
}

button {
  &[disabled] {
    cursor: unset;
  }
  cursor: pointer;
  border: none;
}

.ReactModal__Overlay {
    opacity: 0;
    transition: opacity .5s;
    z-index: 2;
  }
  
  .ReactModal__Overlay--after-open {
    opacity: 1;
  }
  
  .ReactModal__Overlay--before-close {
    opacity: 0;
  }



body {
  overflow-x:hidden;
  margin: 0px;
}

textarea:focus, input:focus{
  outline: none;
}