@import "./themes.scss";
@import "./util.scss";

/*
	Worst css responsive stylesheet you have ever seen in your life
*/

@media screen and (max-width: 750px) {

	.sidebar_inner:not(.open) {
		opacity: 0;
		left: -50%;
	}
	.sidebar_inner.open {
		opacity: 1;
		left: 5px;
	}
	.sidebar {
		position: fixed;
		top: 0px;
	}
	.sidebar_inner {
		height: 100vh;
		@include themed(){
			background-color: t($bg-1);
		}
	}

	.sidebar_overlay {
		transition: opacity .5s, visibility .5s;
		z-index: 1;
		position: fixed;
		top: 0px;
		width: 100vw;
		height: 100vh;
		background-color: rgba(0, 0, 0, 0.3);
		visibility: visible;
		&:not(.open) {
			opacity: 0;
			visibility: hidden;
		}
	}

	.sidebar_maximized {
		display: none;
	}
	// .sidebar_section {
	// 	box-shadow: 0 8px 16px rgb(0 0 0 / 44%);
	// }
}

.sidebar_inner {
	position: fixed;
	transition: left .5s, opacity .5s;
}


.sidebar_section {
	@include themed(){
		background-color: t($bg-1);
	}
}

.sidebar {
	z-index: 1;
}

.sidebar, .sidebar_inner {
	width: 220px;
	flex-shrink: 0;
}

.sidebar_btn {
	@include button-shadow;
	@include themed(){
		color: t($text);
		background-color: t($bg-2);
	}
	svg {
		font-size: 33px;
		width: 30px !important; // welp this is what i get
		height: 30px;
		padding: 5px;
	}
	padding: 0px;
	width: 100%;
	height: 35px;
	display: flex;
	align-items: center;
	font-size: 23px;
}

.signin_title {
	@include themed(){
		background-color: t($bg-2);
		color: t($text);
	}
}

.signin_btn {
	@include themed(){
		background-color: t($bg-2);
		color: t($text);
	}
	cursor: pointer;
	margin-right: 2px;
	border-radius: 4px;
	padding: 4px;
	font-size: 15px;
	width: 100%;
}