@media screen and (max-width: 750px) {
	.topbar {
		height: 50px;
	}
}
.topbar {
	display: flex;
	overflow: hidden;
	transition: height .5s,
}
@media screen and (min-width: 750px) {
	.topbar {
		height: 0px;
	}
}